h1{
    padding: 1rem;
    font-size: 5rem;
    font-weight: bold;
}

h2{
    padding: 1rem;
    font-size: 3rem;
    font-weight: bold;
}

h3{
    font-size: 2.5rem;
}

a{
    text-decoration: none;
}

p{
    font-size: 2rem;
}

.cabecalho{
    display: flex;
    justify-content: center;
}

.coluna {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
}

.coluna-infos {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    justify-content: space-around;
    align-items: flex-end;
}

.coluna-textos {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    justify-content: space-around;
    align-items: center;
}

.linha {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid black;
}

.linha-continua {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
}

.centralizado{
    align-self: center;
}

.macronutrientes {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 3px solid green;
    min-height: 550px;
}

.display{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.display-central{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display-central-linha{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.display-pequeno{
    background-color: silver;
    margin-right: 1rem;
}

.display-grande{
    display: flex;
    justify-content: center;
    background-color: silver;
    width: 4rem;
}

.display-botao{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: silver;
    width: 10rem;
    height: 5rem;
}

.botao-central{
    background-color: greenyellow;
    align-self: center;
}

.menu-inicial{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coluna-graficos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icone{
    height: 5em;
    width: 5em;
    padding-top: 5%;
    padding-bottom: 5%
}

.footer-nav{
    display: flex;
    position: fixed;
    width: 100%;    
    bottom: 0rem;
    min-height: 4em;
    border-top: 0.1rem solid black;
    background-color: silver;
}

.footer-items-list{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.barra-vertical{
    border: 0.01rem solid black;
    height: 100%;
}

.caixa{
    display: flex;
    background-color: silver;
    align-items: center;
    max-width: 40%;
}

.imagem-exercicio{
    width: 95%;
    height: 95%;
}

.imagem-exercicio2{
    width: 50%;
}

.imagem-icone{
    width: 5%;
    height: 5%;
}